body {
  background-color: #eee;
  padding: 1em;
}

.thumbnail .caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail .image {
  height: 150px;
  padding: 6px 9px 0px 9px;
  overflow: hidden;
}

.thumbnail .image > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  max-width: 100%;
}

.thumbnail .actions {
  margin: 12px;
  text-align: center;
}

.actionbar .actions {
  margin-bottom: 20px;
}

.search {
  margin-bottom: 20px;
}

.search .input-group-addon.glyphicon {
  top: 0;
}

.search button:last-of-type {
  margin: 0 0 0 3px;
}

.no-assets {
  color: #d0d0e0;
  font-size: x-large;
  text-align: center;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}

div.dd-upload {
  min-height: 100px;
  border: 3px dashed #d0d0e0;
  color: #d0d0e0;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
}

div.dd-upload.dragover {
  border-color: #a0a0b0;
  color: #a0a0b0;
}

@media (min-width: 768px) {
  .modal-preview .modal-dialog {
    max-width: 85%;
    width: auto;
  }
}

.modal-preview .modal-content {
  text-align: center;
}

.modal-preview .modal-dialog img {
  max-width: 100%;

}

