<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>REST API Asset Browser</display-name>

  <servlet>
    <servlet-name>apiProxyServlet</servlet-name>
    <servlet-class>com.adobe.example.oauth.ApiProxyServlet</servlet-class>
    <init-param>
      <param-name>authorizationLocation</param-name>
      <param-value>http://localhost:4502/oauth/authorize</param-value>
    </init-param>
    <init-param>
      <param-name>tokenLocation</param-name>
      <param-value>http://localhost:4502/oauth/token</param-value>
    </init-param>
    <init-param>
      <param-name>clientId</param-name>
      <param-value>oih671jdb3gkidtrdjashpnnil-ervenh4w</param-value>
    </init-param>
    <init-param>
      <param-name>clientSecret</param-name>
      <param-value>rplv5g4prjv4gs6b5uusqnukl6</param-value>
    </init-param>
    <init-param>
      <param-name>apiUrlPrefix</param-name>
      <param-value>http://localhost:4502/api</param-value>
    </init-param>
  </servlet>


  <servlet-mapping>
    <servlet-name>apiProxyServlet</servlet-name>
    <url-pattern>/api.json</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>apiProxyServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
</web-app>
