<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="assetBrowser">
    <div ui-view="breadcrumb">
      <ol class="breadcrumb">
        <li ng-repeat="crumb in breadcrumb.crumbs"><a href="{{crumb.href}}">{{crumb.label}}</a></li>
      </ol>
    </div>
    <div ui-view="actionbar" class="row">
      <div class="actions col-sm-7 col-md-8">
        <button ng-repeat="action in actionbar.actions" class="btn btn-default" ng-click="actionbar.perform(action)">{{action.title}}</button>
      </div>
      <form role="search" name="searchForm" class="search col-sm-5 col-md-4" ng-submit="actionbar.search(searchForm)">
        <div class="input-group">
          <input ng-model="actionbar.searchquery" type="search" class="form-control" placeholder="Search...">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
      </form>
    </div>
    <div ui-view="browser" class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <alert ng-repeat="alert in browser.alerts" type="{{alert.type}}" close="browser.closeAlert($index)">{{alert.msg}}</alert>
            <div ng-show="browser.assets.length === 0" class="no-assets">
              <p>Currently there are no assets in this folder. You may add folders or assets via the buttons above.</p>
            </div>
            <div ng-repeat="asset in browser.assets" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="thumbnail">
                <div class="caption">
                  <span ng-show="{{asset.isFolder}}" title="this is a folder" class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;</span>
                  <span ng-hide="{{asset.isFolder}}" title="this is an image" class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp;</span>
                  <a ng-show="{{asset.isFolder}}" href="{{asset.href}}">
                    {{asset.name}}
                  </a>
                  <span ng-hide="{{asset.isFolder}}">
                    {{asset.name}}
                  </span>
                </div>
                <div class="image">
                  <img ng-hide="{{!asset.thumbnailUrl && !asset.contentUrl}}" ng-src="{{asset.thumbnailUrl || asset.contentUrl}}" alt="{{asset.name}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/asset-browser.js"></script>

    <script type="text/ng-template" id="generic-form.html">
      <div class="modal-header">
        <h3 class="modal-title">{{action.title}}</h3>
      </div>
      <div class="modal-body">
        <div ng-show="action.message">{{action.message}}</div>
        <form name="actionForm" ng-submit="action.submit(actionForm)" novalidate>
          <div ng-repeat="field in action.fields" class="form-group has-feedback"
               ng-class="{'has-success': actionForm.$submitted && actionForm[field.name].$valid,
               'has-error': actionForm.$submitted && actionForm[field.name].$invalid}">
            <label for="id-{{field.name}}">{{field.title}}</label>
            <input id="id-{{field.name}}" name="{{field.name}}" type="{{field.type}}" ng-model="action.form[field.name]" required class="form-control">
            <span ng-show="actionForm[field.name].$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span ng-show="actionForm[field.name].$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="action.submit(actionForm)">{{action.title}}</button>
        <button class="btn btn-default" ng-click="action.cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="add-asset-form.html">
      <div class="modal-header">
        <h3 class="modal-title">{{action.title}}</h3>
      </div>
      <div class="modal-body">
        <button ng-file-select ng-file-change="action.upload($files)">Upload files...</button>
        <br/>
        <br/>
        or
        <br/>
        <br/>
        <div class="dd-upload" ng-file-drop ng-file-change="action.upload($files)" ng-multiple="true" allow-dir="false" drag-over-class="dragover">
          Drag/Drop here to upload.
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="action.done()">Done</button>
      </div>
    </script>
  </body>
</html>
