<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="assetBrowser">
    <div ui-view="breadcrumb" >
      <ol class="breadcrumb">
        <li ng-repeat="path in breadcrumb.paths"><a href="{{path.href}}">{{path.label}}</a></li>
      </ol>
    </div>
    <div ui-view="browser" class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="asset in browser.assets">
              <div class="thumbnail">
                <div class="caption">
                  <span ng-show="{{asset.isFolder}}" title="this is a folder" class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;</span>
                  <span ng-hide="{{asset.isFolder}}" title="this is an image" class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp;</span>
                  <a href="{{asset.path}}">
                    {{asset.name}}
                  </a>
                </div>
                <div class="image">
                  <img ng-hide="{{!asset.thumbnailUrl}}" ng-src="{{asset.thumbnailUrl}}" alt="{{asset.name}}">
                </div>
                <div class="buttons">
                  <button ng-hide="{{asset.isFolder}}" class="btn btn-default btn-sm">Open</button>
                  <button ng-hide="{{asset.isFolder}}" class="btn btn-default btn-sm">Delete</button>
                  <button ng-hide="{{asset.isFolder}}" ng-click="browser.select(asset.contentUrl)" class="btn btn-default btn-sm">Select</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    -->

    <script src="js/asset-browser.js"></script>
  </body>
</html>
