<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="assetBrowser">
    <ol ui-view="breadcrumb" class="breadcrumb">
      <li ng-repeat="path in breadcrumb.paths"><a href="{{path.href}}">{{path.label}}</a></li>
    </ol>
    <div ui-view="browser" class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="asset in browser.assets">
              <div class="thumbnail" style="height: 200px; overflow: hidden;">
                <div class="caption">
                  <span ng-show="{{asset.isFolder}}" title="this is a folder" class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;</span>
                  <span ng-hide="{{asset.isFolder}}" title="this is an image" class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp;</span>
                  <a href="{{asset.path}}">
                    {{asset.name}}
                  </a>
                </div>
                <img ng-hide="{{!asset.thumbnailUrl}}" ng-src="{{asset.thumbnailUrl}}" alt="{{asset.name}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/**/*.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/routing.js"></script>
    <script src="scripts/apiService.js"></script>
    <script src="scripts/BrowserController.js"></script>
    <script src="scripts/BreadcrumbController.js"></script>
    <!-- endbuild -->
</body>
</html>
