<alert ng-repeat="alert in browser.alerts" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</alert>

<div class="row">
  <div class="col-md-2" ng-repeat="asset in browser.assets">
    <div class="thumbnail" style="height: 200px; overflow: hidden;">
      <div class="caption">
        <span ng-show="{{asset.isFolder}}" class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;</span>
        <span ng-hide="{{asset.isFolder}}" class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp;</span>
        <a href="{{asset.path}}">
          {{asset.name}}
        </a>
        <!--
        <a ui-sref="{path:'{{asset.path}}'}">{{asset.name}}</a>
        -->
      </div>
      <img ng-hide="{{!asset.thumbnailUrl}}" src="{{asset.thumbnailUrl}}" alt="{{asset.name}}">
    </div>
  </div>
</div>
